<p id="notice"><%= notice %></p>
<div id="books">
  <h1>books</h1>
  <div class='container'>
    <%= link_to 'Request new book', new_book_path %>
    <table class='table table-dark'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Genre</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>Please Wait.
        <div id="content">
          <%= render @books %>
        </div>
      </tbody>
    </table>
    <br>
  </div>
</div>
<%= will_paginate @books %>
